<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{CSS/test.css}">

    <title th:text="${englishName}"></title>
</head>

<body>
<div class="jumbotron text-center">
<!--<div class="jumbotron text-center" th:style="'background-image:url(' + ${photoPath} + ');'">-->
    <h1 th:text="${englishName}"></h1>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3 th:text="#{Background.msg}"></h3>
            <ul>
                <li th:text="#{Scientific.name} + ${scientificName}"> </li>
                <li th:text="#{Dutch.name} + ${dutchName}"></li>
                <li th:text="#{English.name} + ${englishName}"></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3 th:text="#{Description.msg}"></h3>
            <p th:text="#{'description.' + ${englishName}}"></p>
        </div>
        <div class="col-sm-4">
            <h3 th:text="#{Occurence.msg}">_offline_</h3>
            <p th:text="#{'occurence.' + ${englishName}}"></p>
        </div>
        <div class="col-sm-4">
            <h3 th:text="#{ConservationStatus.msg}"></h3>
            <p th:text="#{'conservation.' + ${englishName}}"></p>
        </div>
        <div class="col-sm-4">
            <img th:src="@{{image}(image=${photoPath})}"/>
        </div>
    </div>
</div>



<!--<div class="btn-group btn-group-lg" role="group">-->
<!--    <button> <a type="button" class="btn btn-default">Home</button>-->
<!--    <button type="button" class="btn btn-default">Labrador</button>-->
<!--    <button type="button" class="btn btn-default">Golden</button>-->
<!--    <button type="button" class="btn btn-default">Alaskan</button>-->
<!--    <button type="button" class="btn btn-default">Jack</button>-->
<!--    <button type="button" class="btn btn-default">Beagle</button>-->
<!--    <button type="button" class="btn btn-default">History</button>-->
<!--</div>-->

<a th:href="${user}"></a>


<a th:href="@{'/dogbreeds'}" class="btn btn-default btn-lg" role="button" aria-pressed="true">Home</a>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>

</body>
</html>