<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Starter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Date: <span th:text="${currentDate}">Sat Oct 24 2015</span></p>


<p>You have provided a heart rate of <span th:text="${heartrate.getHeartRate()}"></span> beats per minute</p>
<!--<p>The first zone lies between <span th:text="${heartrate.getZoneOne()}"></span> and <span th:text="${heartrate.getZoneTwo()}"></span> beats per minute</p>-->
<!--<p>The second zone lies between <span th:text="${heartrate.getZoneTwo()}"></span> and <span th:text="${heartrate.getZoneThree()}"></span> beats per minute</p>-->
<!--<p>The third zone lies between <span th:text="${heartrate.getZoneThree()}"></span> and <span th:text="${heartrate.getZoneFour()}"></span> beats per minute</p>-->
<!--<p>The fourth zone lies between <span th:text="${heartrate.getZoneFour()}"></span> and <span th:text="${heartrate.getZoneFive()}"></span> beats per minute</p>-->
<!--<p>The fifth zone lies between has more than <span th:text="${heartrate.getZoneFive()}"></span> beats per minute</p>-->
<p><span th:text="#{ZoneOne.msg}"></span><span th:text="${heartrate.getZoneOne()}"></span><span th:text="#{ShowAnd.msg}"></span> <span th:text="${heartrate.getZoneTwo()}"></span><span th:text="#{bpm.msg}"></span></p>
<p><span th:text="#{ZoneTwo.msg}"></span><span th:text="${heartrate.getZoneTwo()}"></span><span th:text="#{ShowAnd.msg}"></span> <span th:text="${heartrate.getZoneThree()}"></span><span th:text="#{bpm.msg}"></span></p>
<p><span th:text="#{ZoneThree.msg}"></span><span th:text="${heartrate.getZoneThree()}"></span><span th:text="#{ShowAnd.msg}"></span> <span th:text="${heartrate.getZoneFour()}"></span><span th:text="#{bpm.msg}"></span></p>
<p><span th:text="#{ZoneFour.msg}"></span><span th:text="${heartrate.getZoneFour()}"></span><span th:text="#{ShowAnd.msg}"></span> <span th:text="${heartrate.getZoneFive()}"></span><span th:text="#{bpm.msg}"></span></p>
<p><span th:text="#{ZoneFive.msg}"></span><span th:text="${heartrate.getZoneFive()}"></span><span th:text="#{ShowAnd.msg}"></span> <span th:text="#{bpm.msg}"></span></p>


</body>
</html>