<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Starter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>Date: <span th:text="${currentDate}">Sat Oct 24 2015</span></p>

<form action="heartrate" method="POST">
    <label th:text="#{heartrate.msg}"> Offline </label>
    <input type="text" name="heartrate" required/> <br/>
    <input type="submit" value="Submit"><br/>
</form>




</body>
</html>