<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{CSS/test.css}">
    <title>Title</title>
</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Scientific Name</th>
        <th>English Name</th>
        <th>Dutch Name</th>
        <th>Average Age</th>
        <th>Detailed info</th>
    </tr>
    </thead>
    <div>
<!--        <div class="position-fixed border bg-info" style="bottom: 10px;right: 5px">-->
<!--        <table class="table table-hover">-->
            <tbody>
                <tr th:each="dog:${species}">
                    <td th:text="${dog.scientificName}" >_ScientificName_</td>
                    <td th:text="${dog.englishName}" >_ScientificName_</td>
                    <td th:text="${dog.dutchName}">_DutchName_</td>
                    <td th:text="${dog.averageAge}" >_ScientificName_</td>
                    <td> <a th:text="#{info.msg}" th:href="'/dog.info?dogobject=' + ${dog.getScientificName()} + ';' + ${dog.getEnglishName()} + ';' + ${dog.getDutchName()} + ';' + ${dog.getAverageAge()} + ';' + ${dog.getPhotoPath()}">_EnglishName_</a></td>
                </tr>
            </tbody>
    </div>
        </table>
    </div>
<!--    </div>-->
</table>

<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">History</button>
<div id="demo" class="collapse">
    <a th:text="${history}"></a>
</div>

<form action="login" method="POST">
    <a th:href="'/login?logout'">Logout</a>
<!--    <input type="submit" value="Logout"/>-->
</form>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
</body>
</html>